.main-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(30px);
  border-radius: 16px;
  font-family: 'Outfit', sans-serif;
}

.search-box h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.inputs-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

select,
input[type="date"],
input[type="number"] {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #10375C;
}

.trip-type {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.trip-type input[type="radio"] {
  display: none;
}

.trip-type input[type="radio"]:checked + label {
  background-color: #1a3d7c;
  color: white;
}

.trip-type label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid #1a3d7c;
  border-radius: 30px;
  background-color: white;
  color: #1a3d7c;
  font-weight: 500;
  transition: all 0.3s ease;
}



.date-fields {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.date-fields label,
.passenger-field label {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
}

.passenger-field {
  margin-bottom: 1.5rem;
}

button {
  display: block;
  width: 100%;
  background-color: #1a3d7c;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #F3C623;
}

.results {
  margin-top: 2rem;
  background: #e8f0fe;
  padding: 1rem;
  border-radius: 12px;
}

.results h3 {
  margin-bottom: 1rem;
  color: #1a3d7c;
}

.results ul {
  list-style: none;
  padding-left: 0;
}

.results li {
  padding: 0.75rem;
  background: #fff;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
}

.results a {
  color: #1a3d7c;
  font-weight: bold;
  text-decoration: underline;
}
