.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;

}

.wrapper h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #10375c;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper button{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 18px;
    color: #10375c;
    font-weight: 700;
    margin-bottom: 20px;
}

.wrapper .login-link{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: 0 0 15px;
}

.login-link a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    
}

.login-link a:hover{
    text-decoration: underline;
    color: #f3c623;
}