.password-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 15px;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.password-message-container h1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
