@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;

}

html, body {
  overflow-x: hidden;
}

body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./Components/assets/Background_alt.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}