.forgot-password-container{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}

.forgot-password-container h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password-container form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

form input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: #fff;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.forgot-password-container form input::placeholder {
    color: #344250;

}

form button{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 18px;
    color: #10375c;
    font-weight: 700;
    margin-top: 20px;
    
}
