
.fp-div {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
}


.fp-div h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}


.fp-div form {
  display: flex;
  flex-direction: column;
}


.fp-div form label {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #fff;
}


form input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #fff;
  padding: 8px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

form input::placeholder {
  color: #344250;
}


form button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 18px;
  color: #10375c;
  font-weight: 700;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

form button:hover {
  background-color: #e0e0e0;
  color: #0c2b48;
}
