.about-page {
  font-family: "Outfit", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #10375c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3px solid rgb(222, 222, 222);
}

.navname {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navname img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navname h3 {
  font-size: 1.5rem;
  color: #fff;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #f3c623;
}


.about-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 20px 40px; 
  line-height: 1.6;
  background-color: transparent 50%;
  font-size: 25px;

}

.about-content {
  min-height: 100vh;
  padding: 120px 20px 40px;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
  border-radius: 12px;
}
