
.dashboard-container {
  padding: 50px;
  background-color: #f9f9f9a6;
  width: 980px;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 8px;
 margin-top: 30px;
 margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #272525;
  margin-bottom: 2rem;
text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #09144b;
  margin-bottom: 2rem;;
}

.table-container {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

table {
  width: 100%;
  border: 2px solid #15123e;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #1f264b;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

td {
  font-size: 22px;
  color: #0f0e0e;
}

button {
  padding: 6px 6px;
  margin-bottom: 4px;
  font-size: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: none;
}

button:hover {
  opacity: 0.9;
}

.bg-yellow-400 {
  background-color: #138012;
  color: white;
  font-size: 18px;
}

.bg-red-500 {
  background-color: #ef4444;
  color: white;
  font-size: 18px;
}

.bg-blue-500 {
  background-color: #3b82f6;
  color: white;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #716f6f;
}

.select-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #716f6f;
}

.form-container {
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button:focus {
  outline: none;
}
