

/*DISCLAIMER: kjo pjese e frontendit its just a sample for testing, grupi i frontendit do merret me pjesen e stilizimit later*/
.admin-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(115, 181, 119, 0.973);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.admin-container h1 {
  font-size: 32px;
  color: #2c5030;
  margin-bottom: 10px;
}

.admin-container p,
.admin-container h4 {
  color: #555555;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #10375c;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-button:hover {
  background-color: #2bc04b;
}

.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
}

