.profile-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255); 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#navbar {
  width: 100%;
  background-color: #10375c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3px solid rgb(222, 222, 222);

}

#navname {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#navname img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#navname h3 {
  font-size: 1.5rem;
  color: #fff;
}

#navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  color: #f3c623;
}


main {
  display: flex;
  flex: 1;
  width: 100%;
}


aside {
  width: 35vw;
  background-color: rgba(255, 255, 255);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 3px solid rgb(222, 222, 222);
}

aside img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

aside ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

aside ul li {
  margin: 1rem 0;
}

aside ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 2em;
  transition: all 0.3s ease;
}

aside ul li a:hover {
  color: #f3c623;
}

section {
  flex: 1;
  padding: 2rem;
  background-color: rgba(255, 255, 255);
}

section h1 {
  color: #333;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section ul {
  list-style: none;
}

section ul li {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
