@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url('../assets/Background_alt.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}



#navbar {
  width: 100%;
  background-color: #10375c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3px solid rgb(222, 222, 222);
}

#navname {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#navname img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#navname h3 {
  font-size: 1.5rem;
  color: #fff;
}

#navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  color: #f3c623;
}

.profile-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1;
}

.profile-aside {
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #10375c;
    border-radius: 15px;
    padding: 30px 40px;
}

.profile-aside img {
  display: block;
  margin: 0 auto 1rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-aside ul {
  list-style: none;
  margin-top: 1.5rem;
  padding: 0;
}

.profile-aside ul li {
  margin-bottom: 1rem;
}

.profile-aside ul li a,
.logout-button {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #10375C;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-aside ul li a:hover,
.logout-button:hover {
  background-color: #48a5e1;
}


.profile-section {
  margin-top: 2rem;
}

.profile-section h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile-section ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-section ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #10375C;
}
